doctype html
html
  head
  link(rel='stylesheet', href='/css/styles.css')
  body
  div(align='center')
      h1 Get Adobe Analytics Variables 
      p ...
      p <b>#{caution}</b>
  form(action='/thank' method='post' name='form1' align='center')
      label(name='web-page') Enter URL Below:
      <br/><br/>
      input(type= 'text' name='url')
      <br/><br/>
       button.btn.btn-primary(type='submit') Fetch
  div(align='right')
      p Work of:- Shivanandana Hegde